<!-- footer.component.html -->
<footer id="tt-footer">
  <div class="tt-footer-inner">
    <div class="footer-col tt-align-center-left">
      <div class="footer-col-inner">
        <div class="tt-btn tt-btn-link">
          <a (click)="scrollToTop()" href="#" data-hover="Back to top">Back to top</a>
        </div>
      </div>
    </div>

    <div class="footer-col tt-align-center order-m-last">
      <div class="footer-col-inner">
        <div class="tt-copyright">
          © Copyright - <a href="#" target="_blank" rel="noopener"
            class="tt-link">rmdev</a>
        </div>
      </div>
    </div>

    <div class="footer-col tt-align-center-right">
      <div class="footer-col-inner">
        <div class="footer-social">
          <div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
          <div class="social-buttons">
            <ul>
              <li *ngFor="let social of socials">
                <a appMagneticItem [scale]="1" href={{social.link}} class="magnetic-item" target="_blank" rel="noopener">
                    <fa-icon [icon]=social.icon></fa-icon>
                </a>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
