#magic-cursor {
  pointer-events: none;
  position: fixed;
  z-index: 99999;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
}

#ball {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-out;
}

